/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    width: 100%;
    background: rgb(59, 58, 58);
    /* Optional */
    position: sticky;
    top: 0;
  }
  
  /* Hide Hamburger */
  #hamnav label, #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  #hamitems { display: flex; }
  #hamitems a {
    width: 10%; /* 100% / 5 tabs = 20% */
    height: 30px;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
  }
  #hamitems a:hover {
    background: #1fa5f3;
    transition: .9s;
  }
  
  /*  topbar */
  
  #wrapper{
    width: 1000px;
    max-width: 80%;
    height: 2000px;
    background-color: rgba(149, 149, 149, 0.993);
    margin-top: auto;
    margin: auto; 
    padding: auto;
  }
  #div1 {
    width: 800px;
    height:300px;
    padding-top: 30px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  #div2{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  #foto {
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 50%;
     
  }
  
  #div3 {
    width: 300px;
    height:30px;    
    
  }
  
  #div3, i{
    font-size: 40px;
    color: white;
    margin-left:auto;
    margin-right:auto;

  }


  #div4, p {
    text-align: justify;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
  }

  #mapid { 
    height: 400px; 
    width: 600px;
    margin-left:auto;
    margin-right:auto;

  }


  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #1fa5f3;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
