* {
    font-family:"Montserrat", "Arial", "Helvetica", "Sans-serif";
  }


  body {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: rgb(60, 59, 59);
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 990px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;    
  }
  
/* FOR ENGLISH BUTTON */

i  {
  position: relative;
  top: 7px;
} 

form {
  position: relative;
  bottom: 15px; 
}

/* rip off the hover effect




/* END FOR ENGLISH BUTTON */


  nav ul,
  nav li {
    list-style: none;
    margin: 0;
    padding: 0;
  
    
  }
  nav ul {
    display: flex;
  }
  nav a {
    display: block;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300px;
    color: #727272;
    border-bottom: 5px solid rgb(60, 59, 59);
  
  }
  nav a:hover,
  nav .active a {
    color: #CCC;
    transition: 0.4s;
    border-bottom: 5px solid #39aae1;
  }
  
  

  #banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/header3.png");
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 75px);
    border-bottom: 3px solid #39aae1;
  }
  
  .logo img:hover {
    box-shadow: 0 0 4px #ffffff, 0 0 9px #ffffff;
    border-radius: 50%;
  }
  
  .column {
    flex-direction: column;
  }
  .banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
  }
  .banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    vertical-align: top;
    padding-top: 15vh;
    margin: 5px;
    max-width: 1000px;
  }
  .banner_headline h2 {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555555;
    vertical-align: top;
    margin: 5px;
    max-width: 1000px;
    padding-left: 15px;
  }
  .banner_options {
    height: 210px;
    display: flex;
  }
  
  .banner_title {
    font-size: 21px;
  }
  .banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner_options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
  }
  
  .line_table {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(21, 103, 158);
    font-size: 14px;
    padding-bottom: 13px;
    margin-bottom: 13px;
  }
  
  #geral {
    display: flex;
    justify-content: center;
  }
  #geral section {
    flex: 2;
  }
  
  #geral_profile {
    display: flex;
    justify-content: center;
  }
  
  #geral_profile section {
    flex: 2;
  }
  
  #geral aside {
    flex: 1;
  }
  
  .widget_title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
  }
  
  .widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
  
  }
  
  .news_resume {
  line-height: 2.8;
  }
  
  .news_resune a {
    color: #848484;
    background-color: transparent;
    text-decoration: none;
  }
  
  .news_resune a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  .news_resume a:hover {
    text-shadow: 0 0 3px #36a9e1, 0 0 5px #36a9e1;
  }
  
  .squares_container {
    display: flex;
  }
  
  .squares_c1 {
    flex: 2;
  }
  
  .squares_deps {
    height: 130px;
    width: 130px;
    background-color: #39aae1;
    margin: 20px 20px 20px 20px;
  }
  
  article .profile {
    display: content;
  }
  
  article .profile_thumbnail img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 30px;
  }
  
  article .profile_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.5px;
  }
  
  article .profile_degree {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  
  article .profile_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  article .child img {
    height: 60px;
    width: 60px;
  }
  
  article .child img:hover {
    background-color: #39aae1;
    color: #ffffff;
    transition: 0.4s;
    border-radius: 10px;
  }
  article a {
    text-decoration: none;
  }
  
  article .news_data {
    display: flex;
  }
  
  article .news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
    border-radius: 7px 7px 7px 0px;
  }
  
  article .news_title_pub:hover {
    color: #39aae1;
  }
  
  article .news_resume_pub:hover {
    color: #39aae1;
  }
  
  article .news_comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
  }
  
  article .news_thumbnail img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 50%;
  }
  
  article .pub_thumbnail img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  
  article .news_title {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 23px;
  }
  
  article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  article .news_title_pub {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 23px;
  }
  
  article .news_resume_pub {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  article .news_list ul {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-left: 10px;
  }
  
  .geral_map {
    display: flex;
    justify-content: center;
  }
  
  .widget_title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
  }
  
  article .map_article {
    position: absolute;
  }
  
  #map_container {
    padding-top: 30px;
  
    height: 600px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .widget_title_bar_map {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
  }
  
  .footer_menu {
    display: flex;
    flex: 1;
  }
  
  .fm_1,
  .fm_2,
  .fm_3 {
    flex: 1;
  }
  
  
  .footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
  }
  
  .footer_area {
    display: flex;
  }
  .footer_areaitem {
    flex: 1;
  }
  
  .flexcolumn {
    flex-direction: column;
  }
  
  footer .widget_title_text {
    color: white;
  }
  
  .footer_copy {
    border-top: 1px solid grey;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #5c5c5c;
    margin-top: 30px;
  }
  
  .menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .mm_line {
    height: 3px;
    background-color: #39aae1;
    margin-top: 8px;
  }
  
  @media (max-width: 600px) {
    .banner_headline h1 {
      font-size: 40px;
      padding: 10px;
      padding-bottom: 1px;
    }
  
    .logo {
      display: none;
    }
  
    .banner_headline h2 {
      font-size: 17px;
      padding: 10px;
      padding-top: 1px;
    }
    .banner_options {
      height: auto;
      flex-direction: column;
    }
    .container {
      flex-direction: column;
    }
  
    #geral section,
    #geral aside {
      padding: 20px;
    }
    .footer_menu {
      flex-direction: column;
    }
  
    .footer_area {
      flex-direction: column;
      padding: 20px;
    }
    .footer_copy {
      padding-left: 15px;
    }
    header .container {
      flex-direction: row;
    }
    nav ul {
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #ffffff;
    }
  
    header {
      height: auto;
    }
  
    .menu_mobile {
      display: flex;
      flex-direction: column;
      justify-content: space_around;
      margin: 10px;
    }
  
    #map_container {
      width: 350px;
    }
  }
  
  @media   (min-width: 610px) and (max-width: 812px ) {
    
    .banner_headline h1 {
      font-size: 40px;
      padding: 10px;
      padding-bottom: 1px;
    }
  
    .logo {
      display: none;
    }
  
    .banner_headline h2 {
      font-size: 17px;
      padding: 10px;
      padding-top: 1px;
    }
    .banner_options {
      height: auto;
      flex-direction: column;
    }
    .container {
      flex-direction: column;
    }
  
    #geral section,
    #geral aside {
      padding: 20px;
    }
    .footer_menu {
      flex-direction: column;
    }
  
    .footer_area {
      flex-direction: column;
      padding: 20px;
    }
    .footer_copy {
      padding-left: 15px;
    }
    header .container {
      flex-direction: row;
    }
    nav ul {
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #ffffff;
    }
  
    header {
      height: auto;
    }
  
    .menu_mobile {
      display: flex;
      flex-direction: column;
      justify-content: space_around;
      margin: 10px;
    }
  
    article .map_article {
      position: absolute;
    }
  
    #map_container {
      width: 100%;
    }
  
  
  
  
  }